@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  /*Custom Properties*/
  --max-width: 1100px;
  --radius: 0.5rem;
  --jakarta: "Plus Jakarta Sans", sans-serif;
  --oswald: "Oswald", sans-serif;

  /*Custom Colors*/
  --red-400: hsla(330, 100%, 23%, 0.55);
  --red-500: #730039;
  --red-600: hsla(330, 100%, 23%, 0.85);

  --yellow-400: hsla(45, 100%, 54%, 0.55);
  --yellow-500: #ffc513;
  --yellow-600: rgba(255, 196, 19, 0.85);

  --orange-400: hsla(13, 100%, 65%, 0.55);
  --orange-500: #ff724c;
  --orange-600: rgba(255, 115, 76, 0.85);

  --gray-100: hsl(0, 0%, 100%);
  --gray-400: hsl(0, 1%, 50%);
  --gray-500: hsl(0, 0%, 11%);
  --gray-600: hsla(0, 0%, 11%, 0.4);
  --gray-700: hsl(0, 0%, 17%);

  /*Custom Transform Duration*/
  --duration: 0.3s;

  /*Custom Font Size  1500 / 100 x 12*/

  --large-vd: calc(2rem + 12vh);
  --large-hd: calc(2rem + 12vw);
  --large: calc(2rem + 3vw);
  --custom-largex: 4rem;
  --custom-large: 3.5rem;

  --medium-hd: calc(1rem+ 2vw);
  --medium-vd: calc(1rem + 2vh);
  --medium: 2rem;
  --custom-medium: 2.5rem;

  --custom-vd: calc(1rem + 4vh);
  --custom-hd: calc(1rem + 4vw);

  --small-hd: calc(1rem + 1vw);
  --small-vd: calc(1rem + 1vh);
  --small: 1rem;
  --custom-small: 1.5rem;



}

body {
  font-family: var(--jakarta);
  font-size: var(--static-15);
  line-height: 1.6;
  background-color: var(--gray-100);
  color: var(--gray-500);
}

a {
  text-decoration: none;
  border-radius: 1rem;
}

p {
  font-weight: 300;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.container {
  display: grid;
  grid-template-columns: [container-start] repeat(12, minmax(min-content, 12.5rem)) [container-end];
  grid-template-rows: repeat(9, min-content);
  justify-content: center;
}

.overall__layout {
  grid-column: container-start / container-end;
}

.section__padding {
  padding: var(--large-vd) var(--large-hd);
}

.section__title {
  font-size: var(--large);
  font-weight: 900;
  text-transform: uppercase;
}

.section__para {
  font-size: var(--custom-small);
}

@media screen and (max-width: 1000px) {

  a:link,
  a:visited {
    border-radius: 1rem;
  }
}